

body {
  background-color: gray;
  font-family: 'Diffusion Web', 'Overlock', 'Montserrat', 'Andalé Mono', 'Trebuchet MS', sans-serif;
  text-align: center;
  
   /*background-image: url('/images/carpetBackgroundBlur.png'); */
   background-image: url('/images/CAtexture3.jpg'); 

    
    
   /*background-image: url('/images/loopable.png'); */
   animation: pan 500s infinite;
   -webkit-animation: pan 500s infinite;
  -moz-animation: pan 500s infinite;
  -o-animation: pan 500s infinite;
  -ms-animation: pan 500s infinite;
  
  /*background-image: url('/images/bowling2.jpg');
  calc(100vh / 5)
  */
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}



@font-face {
  font-family: 'SNES';
  src: url('/font/SnesItalic-1G9Be.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost-SemiBold';
  src: url('/font/Jost-SemiBold.ttf') format('truetype');
}


@font-face {
	font-family: 'Diffusion Web';
	font-weight: 400;
	font-style: normal;
	src: url('/font/diffusion/woff2/diffusion-regular.woff2') format('woff2'), url('/font/diffusion/woff/diffusion-regular.woff') format('woff'), url('/font/diffusion/ttf/diffusion-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lambda Web';
	font-weight: 400;
	font-style: normal;
	src: url('/font/Lambda-Regular.woff2') format('woff2'), url('/font/Lambda-Regular.woff') format('woff'), url('/font/Lambda-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Cottonie';
	font-weight: 400;
	font-style: normal;
	src: url('/font/Cottonie.ttf') format('truetype'), url("/font/Cottonie.otf") format("opentype");
}



h1{
	font-family: 'Jost-SemiBold', 'SNES', 'Lulo Clean', 'Futura', 'Trebuchet MS', sans-serif;

}




@keyframes pan{
	0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
  
}

@-ms-keyframes pan{
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
  
  
}

@-o-keyframes pan{
	0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
  
}

@-webkit-keyframes pan{

  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
  
}

@-moz-keyframes pan{
	0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
  
}

ul {
    text-align: center;
    list-style-position: inside;
}

/* Header/Logo Title */
#grad1 {
  background-color: #FBD98B; /* For browsers that do not support gradients */
  /*background-image: linear-gradient(to bottom right, #D9FDE3,#FBD98B, #F99B9C);*/
  /*background-image: linear-gradient(to bottom right, #3872CA, #d9ed02);*/
  /*background-image: url('/background.jpg');*/
  background-image: url('/images/CAtexture2.jpg'); 
  background-size: cover;
  border-radius: 12px;
  border: 6px groove black
}

a{
	color: white;
}

.header {
  overflow: hidden;
  
  padding: 20px 10px;
  background-color: black;
  font-size:120%;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  /*padding: 12px;*/
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size:120%;
  /*font-size: 25px;*/
  font-weight: bold;
}






.header a {
    float: none;

  }
  
  

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
    float: none;
  }

.banner-text {
	padding:20px;
	text-align: left;
	background: rgba(0,0,0,0.4);
}

.bodymain {
	padding:20px;
	background: rgba(0,0,0,0.8);
	margin-left: 15%;
	margin-right: 15%;
  font-size:110%;
	/*margin-right:200px;
	margin-left:200px;*/
}

.articlemain {
	padding:20px;
	background: rgba(0,0,0,0.8);
	margin-left: 15%;
	margin-right: 15%;
  font-size:large;
	/*margin-right:200px;
	margin-left:200px;*/
}

.bodytext {
	
	

}

.mobile {
	visibility:hidden;
	

}

.bannerFH {
  overflow: hidden;
  background-color: purple;
  padding: 20px 10px;
  background-image: url('/images/banners/FH.png');
  border: 4px solid black;
  background-size: cover;
}

.bannerHP {
  overflow: hidden;
  background-color: slategray;
  padding: 20px 10px;
  background-image: url('/images/banners/HP.PNG');
 border: 4px solid black;
 background-size: cover;
}

.bannerMR {
  overflow: hidden;
  background-color: gold;
  padding: 20px 10px;
  background-image: url('/images/banners/MR.PNG');
 border: 4px solid black;
 background-size: cover;
}

.bannerFW {
  overflow: hidden;
  background-color: MediumSeaGreen;
  padding: 20px 10px;
  background-image: url('/images/banners/FW.PNG');
border: 4px solid black;
background-size: cover;
}

.bannerUW {
  overflow: hidden;
  background-color: MediumSlateBlue;
  padding: 20px 10px;
  background-image: url('/images/banners/UW.png');
border: 4px solid black;
background-size: cover;
  
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
  float: right;
}

a {
    
}



@media screen and (max-width: 500px) {
 
	h1{
    font-family: 'Jost-SemiBold', 'SNES', 'Lulo Clean', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
  }


	

  
  
  .bannerFH {
    float: none;
    display: block;
    text-align: left;
  }
  
  .bannerHP {
    float: none;
    display: block;
    text-align: left;
  }
  
  .bannerFW {
    float: none;
    display: block;
    text-align: left;
  }
  
  .bannerUW {
    float: none;
    display: block;
    text-align: left;
  }
  
  .bodymain {
	padding:20px;
	background: rgba(0,0,0,0.8);
  float: left;
	margin-right:0%;
	margin-left:0%;

  .articlemain {
    padding:20px;
    background: rgba(0,0,0,0.8);
    margin-left: 0%;
    margin-right: 0%;
    /*margin-right:200px;
    margin-left:200px;*/
  }
}


}

@media screen and (max-width: 1100px) and (min-width: 600px) {
#grad1 {
  background-color: #FBD98B; /* For browsers that do not support gradients */
  /*background-image: linear-gradient(to bottom right, #D9FDE3,#FBD98B, #F99B9C);*/
  /*background-image: linear-gradient(to bottom right, #3872CA, #d9ed02);*/
  /*background-image: url('/background.jpg');*/
  background-image: url('/images/CAtexture9.jpg'); 
  background-size: cover;
  border-radius: 12px;
  border: 6px groove black
}
}

@media screen and (max-width: 600px)  {
  /* Header/Logo Title */
  #grad1 {
    background-color: #FBD98B; /* For browsers that do not support gradients */
    /*background-image: linear-gradient(to bottom right, #D9FDE3,#FBD98B, #F99B9C);*/
    /*background-image: linear-gradient(to bottom right, #3872CA, #d9ed02);*/
    /*background-image: url('/background.jpg');*/
    background-image: url('/images/CAtexture8.jpg'); 
    background-size: cover;
    border-radius: 12px;
    border: 6px groove black
    
  }
  }
  

@media screen and (max-width: 1200px) {
  
 
  
.header a {
    float: none;

  }
  
  .header-right {
    float: none;
  }
  
  .bodymain {
	padding:20px;
	background: rgba(0,0,0,0.8);
	float: left;
	margin-right:5%;
	margin-left:5%;
}

.articlemain {
  padding:20px;
  background: rgba(0,0,0,0.8);
  margin-left: 5%;
  margin-right: 5%;
  /*margin-right:200px;
  margin-left:200px;*/
}

.responsive {
  visibility:hidden;
  float: none;
  width: 0%;
}

.mobile {
	visibility:visible;
  width: 100%;
  max-width: 400px;
  height: auto;
}
}

.perma-img {
	visibility:visible;
  max-width: 100%;
  height: auto;
}

iframe {
	width: 420px;
  max-width: 100%;
  height: auto;
}

iframe.vid {

  max-width: 100%;
  height: 300px;
}

iframe.audio {
	width: 420px;
  max-width: 100%;
  height: 850px;
}

/* Page Content */
.content {
	padding:30px;
	color: white; 
	  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.button {
  border: none;
  color: black;
  padding: 16px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  font-family: 'Diffusion Web', 'Overlock', 'Montserrat', 'Andalé Mono', 'Trebuchet MS', sans-serif;
  border-top: 17.6px solid;
	border-right: 20.6px solid;
	border-bottom: 17.6px solid;
}

.button:hover{
 color: white;
}


.buttonFH {
  background-color: white; 
  color: black; 
  border: 4px solid purple;
}

.buttonFH:hover {

  background-image: url('/images/buttons/FH.png');
}

.buttonDM {
  background-color: white; 
  color: black; 
  border: 4px solid rgb(0, 0, 0);
}

.buttonDM:hover {

  background-image: url('/images/buttons/DM.png');
}

.buttonBEC24 {
  background-color: white; 
  color: black; 
  border: 4px solid rgb(206, 160, 34);
}

.buttonBEC24:hover {

  background-image: url('/images/buttons/FL.png');
}

.buttonRR {
  background-color: white; 
  color: black; 
  border: 4px solid #8CC7C6;
}

.buttonRR:hover {

  background-image: url('/images/buttons/RR.png');
}

.buttonGG {
  background-color: white; 
  color: black; 
  border: 4px solid indigo;
}

.buttonGG:hover {

  background-image: url('/images/buttons/GG.png');
}

.buttonCT {
  background-color: white; 
  color: black; 
  border: 4px solid #C43623;
}

.buttonCT:hover {

  background-image: url('/images/buttons/CT.png');
}

.buttonCAT {
  background-color: white; 
  color: black; 
  border: 4px solid BlanchedAlmond;
}

.buttonCAT:hover {

  background-image: url('/images/buttons/CAT.png');
}

.buttonRH {
  background-color: white; 
  color: black; 
  border: 4px solid DarkOrange;
}

.buttonRH:hover {

  background-image: url('/images/buttons/RH.png');
  
  
}

.buttonMR {
  background-color: white; 
  color: black; 
  border: 4px solid gold;
}

.buttonMR:hover {

  background-image: url('/images/buttons/MR.png');
}

.buttonBF {
  background-color: white; 
  color: black; 
  border: 4px solid maroon;
}

.buttonBF:hover {

  background-image: url('/images/buttons/BF.png');
}

.buttonHP {
  background-color: white; 
  color: black; 
  border: 4px solid slategray;
}

.buttonHP:hover {

  background-image: url('/images/buttons/HP.png');
}

.buttonFW {
  background-color: white; 

  border: 4px solid MediumSeaGreen;
}

.buttonFW:hover {

  background-image: url('/images/buttons/FW.png');
}

.buttonUW {
  background-color: white; 

  border: 4px solid MediumSlateBlue;
}

.buttonDBMB:hover {

  background-image: url('/images/buttons/DBMB2.png');
}

.buttonDBMB {
  background-color: rgb(255, 255, 255); 

  border: 4px solid rgb(13, 160, 245);
}

.buttonBGABD:hover {

  background-image: url('/images/buttons/BGABD.png');
}

.buttonBGABD {
  background-color: rgb(255, 255, 255); 

  border: 4px solid rgb(232, 48, 149);
}

.buttonUW:hover {

  background-image: url('/images/buttons/UW.png');
}

.buttonN {
  background-color: white; 

  border: 4px solid #04AA6D;
}

.buttonN:hover {
  background-color: #04AA6D;
  color: white;
}

.buttonN2 {
  background-color: white; 

  border: 4px solid MediumOrchid;
}

.buttonN2:hover {
  background-color: MediumOrchid;
  color: white;
}

.buttonN3 {
  background-color: white; 

  border: 4px solid rgb(9, 124, 190);
}

.buttonN3:hover {
  background-color: rgb(9, 124, 190);;
  color: white;
}

.buttonN3.active {
  background-color: rgb(9, 124, 190);
  color: white;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background: rgba(0,0,0,0.5);
}

audio{
	text-align: center;
}

hr{
  background-image:url("/images/squiggly-line.png") ;
  background-position:50%;
  background-repeat:repeat-x;
  
  border:none!important;
  height:20px;
}


* {
  box-sizing: border-box;
}

.responsiveG {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  

  max-width: 100%;

}

@media only screen and (max-width: 700px) {
  .responsiveG {
    width: 49.99999%;
    margin: 6px 0;
	max-width: 100%;
  }
}
/*
@media only screen and (max-width: 500px) {
  .responsiveG {
    width: 100%;
	max-width: 100%;
  }
}
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}